<div class="card">
    <div class="card-title">
        <p>#Users</p>
    </div>
    <div class="card-content">
        <p>@ViewBag.students<span> User</span></p>
    </div>
</div>
<div class="card">
    <div class="card-title">
        <p>#new Courses</p>
    </div>
    <div class="card-content">
        <p>@ViewBag.waitingCourses<span> course</span></p>
    </div>
</div>
<div class="card">
    <div class="card-title">
        <p>#All courses</p>
    </div>
    <div class="card-content">
        <p>@ViewBag.courses<span> course</span></p>
    </div>
</div>